[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

biopython = "*"


[dev-packages]

nose = "*"


[requires]

python_version = "3.6"


[scripts]

capture = "python -m capture"
